# Created by https://www.gitignore.io/api/visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

/dist
/tmp
/node_modules
/typings
.DS_Store
/src/index.js
/src/index.js.map

# End of https://www.gitignore.io/api/visualstudiocode